<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}


    <style>

        .ti {
            font-size: 22px;
            padding: 10px;
            background-color: #dcaa5c;
            color: black;
        }

        .ti:hover {
            color: white;
            cursor: pointer;
        }

    </style>

</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}

    <main class="site-main">
        <section class="text-center">
        <div class="container text-start">
            <div class="row">
                <div class="col-7" style="margin: 30px;">
                    <h1>Recent Posts</h1>
                    <hr>
                    {{ range .Paginator.Pages }}
                    <div>
                        <section>
                            <div class="row" style="margin-bottom: 30px;">
                                <div class="col">
                                    <a href="{{ .Permalink }}" style="text-decoration: none;">
                                        <h3 class="ti">{{ .Title }}</h3>
                                    </a>
                                    <p style="border-color: rgb(0,0,0);color: rgb(68,68,68);margin-top: 10px;">{{ .Content }}</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    {{ end }}
                    {{ template "_internal/pagination.html" . }}
                </div>
                <div class="col" style="margin-top: 50px;">
                    <div></div>
                    <h6 class="text-uppercase" style="margin-top: 50px;">Catagories</h6>
                    <div><i class="fa fa-google text-start" style="font-size: 111px;color: rgb(120,120,120);margin-top: 20px;"></i>
                        <h4 class="text-capitalize text-start" style="margin-top: 20px;">Reviews us on google</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
</body>

</html>