<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}


    <style>
        .dis {
            position: relative;
        }

        .dis .text {
            position: absolute;
            display: flex;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            color: white;
            visibility: hidden;
            font-weight: bold;
        }

        .dis:hover .text {
            visibility: visible;
        }
    </style>

</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}

    {{ define "prc" }}
    <section class="photo-gallery py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>PRACTICE AREAS</h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center align-items-center photos"
                data-bss-baguettebox="">
                {{ range .Pages }}
                <div class="col item" style="height: 150px;"><span
                        style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">{{ .Title }}</span>
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1areas-of-defense.jpg.webp" width="367" height="103" style="margin-top: 10px;">
                        <p class="text">{{ .Title }}</p>
                    </div>
                </div>
                {{ end }}
        </div>
    </section>
    {{ end }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
</body>

</html>