<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    <div id="empresa" style="padding:20px;margin:1px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-7 col-lg-7">
                    <h1>{{ .Titlte }}</h1>
                    <p>{{ .Content }}</p>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-5"><img src="{{ .Permas.src }}"></div>
            </div>
        </div>
    </div>
    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
</body>

</html>