<div class="container h-100 position-relative" style="margin-top: -130px;">
    <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
            <div class="text-center" style="background: #121518;padding: 10px;border-style: solid;border-top-width: 5px;border-top-color: #e0ae61;">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">WHAT OUR CLIENTS ARE SAYING</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">Samantha is an incredibly amazing attorney! My case initially caused my family and I an overwhe...</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center" style="background: #121518;padding: 10px;border-style: solid;border-top-width: 5px;border-top-color: #e0ae61;">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">REQUEST FREE CONSULTATION</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">Samantha is an incredibly amazing attorney! My case initially caused my family and I an overwhe...</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center" style="background: #121518;padding: 10px;border-style: solid;border-top-width: 5px;border-top-color: #e0ae61;">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">WE GET RESULTS</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">Samantha is an incredibly amazing attorney! My case initially caused my family and I an overwhe...</p>
            </div>
        </div>
    </div>
</div>