<header style="background: #353535;">
    <div class="container-fluid text-center d-flex flex-row justify-content-around align-items-center align-content-center flex-wrap">
        <div>
            <img src="/img/1logo.png.webp">
        </div>
        <div class="justify-content-around align-items-center">
            <div class="d-inline-flex justify-content-center align-items-center align-content-center"><span style="font-weight: bold;color: rgb(255,255,255);">TEXT US NOW FOR A&nbsp;<br></span><span style="background-color: #d6a354; padding: 5px 14x; font-weight: bold;">FREE CONSULATION</span></div>
            <h1 style="font-weight: bold;color: rgb(255,255,255);">(619) 430-2355</h1>
        </div>
    </div>
</header>
{{ partial "nav" . }}