<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}
</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}

    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <h4><strong><span style="color: rgb(51, 51, 51);">Sevens Legal, APC</span></strong><br><strong><span style="color: rgb(51, 51, 51);">Criminal Defense Attorneys</span></strong><br><span style="color: rgb(51, 51, 51);">3555 4th Ave, San Diego, CA 92103</span><br><span style="color: rgb(51, 51, 51);">Phone: 619-297-2800</span><br><br></h4>
            <p class="text-muted">Please be sure to fill out the form completely. Our staff will reach out to you shortly after your message is received.</p>
            <div class="row">
                <div class="col-md-6 col-xl-5">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control" type="text" id="name" name="name"></div>
                            <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control" type="email" id="email" name="email"></div>
                            <div class="mb-3"><label class="form-label" for="email">Phone No.</label><input class="form-control" type="email" id="email-1" name="email"></div>
                            <div class="mb-3"><label class="form-label" for="message">Message</label><textarea class="form-control" id="message" name="message" rows="6"></textarea></div>
                            <div class="mb-3"><button class="btn btn-primary" type="submit" style="padding: 10px 30px;background: #d7a556;border-top-style: none;">Send </button></div>
                        </form>
                    </div>
                </div>
                <div class="col"><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="100%"></iframe></div>
            </div>
        </div>
    </section>

    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}

</body>
</html>