<section class="photo-gallery py-4 py-xl-5">
    <div class="container">
        <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
            {{ range .Pages }}
            <div class="col item">
                <div style="text-align: center;padding: 5px;background: #f8f8f8;">
                    <a href="{{ .Permalink }}">
                        <img class="img-fluid" src="{{ .Params.src }}" width="338" height="507"><span style="font-weight: bold;"><br>{{ .Title }}<br></span>
                        </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>