<section class="photo-gallery py-4 py-xl-5">
    <div class="container">
        <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">
            <div class="col item">
                <div style="text-align: center;padding: 5px;background: #f8f8f8;">
                    <a href="/person/">
                        <img class="img-fluid" src="/img/Samantha-Greene-2-200x300.jpg.webp" width="338" height="507"><span style="font-weight: bold;"><br>Samantha Greene<br></span>
                        </a>
                </div>
            </div>
            <div class="col item">
                <div style="text-align: center;padding: 5px;background: #f8f8f8;"><img class="img-fluid" src="/img/alexheadshots_043-205x300.jpeg.webp" width="338" height="507"><span style="font-weight: bold;"><br>Samantha Greene<br></span></div>
            </div>
            <div class="col item">
                <div style="text-align: center;padding: 5px;background: #f8f8f8;"><img class="img-fluid" src="/img/Jay-Monico-DUI-Attorney-270x300.jpg" width="340" height="378"><span style="font-weight: bold;"><br><span style="font-weight: normal !important; color: rgb(51, 51, 51); background-color: rgb(243, 243, 243);">Jay Monico</span><br></span></div>
            </div>
            <div class="col item">
                <div style="text-align: center;padding: 5px;background: #f8f8f8;"><img class="img-fluid" src="/img/Kristen-Friedman-DUI-Lawyer-270x300.jpg" width="340" height="378"><span style="font-weight: bold;"><br><span style="font-weight: normal !important; color: rgb(51, 51, 51); background-color: rgb(243, 243, 243);">Jay Monico</span><br></span></div>
            </div>
            <div class="col item">
                <div style="text-align: center;padding: 5px;background: #f8f8f8;"><img class="img-fluid" src="/img/Ari-Lieberman-IMG_2921-scaled.jpg" width="338" height="507"><span style="font-weight: bold;"><br><span style="font-weight: normal !important; color: rgb(51, 51, 51); background-color: rgb(243, 243, 243);">Kristen Friedman</span><br></span></div>
            </div>
            <div class="col item">
                <div style="text-align: center;padding: 5px;background: #f8f8f8;"><img class="img-fluid" src="/img/crystal-erlands-scaled.jpg" width="338" height="507"><span style="font-weight: bold;"><br><span style="font-weight: normal !important; color: rgb(0, 0, 0); background-color: rgb(243, 243, 243);">Crystal Erlandson</span><br></span></div>
            </div>
        </div>
    </div>
</section>