<style>
    a {
        color: inherit;
        text-decoration: none;
    }
    a:hover {
        color: inherit;
    }
</style>

<footer class="text-center py-4" style="background: #d8aa65;">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col text-start">
                <h2 class="text-start">SAN DIEGO CRIMINAL DEFENSE ATTORNEYS</h2>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">SEVENS LEGAL, APC<br>3555 FOURTH AVE,<br>SAN DIEGO, CA 92103<br>PHONE: (619) 430-2355</p><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="https://www.google.com/maps/place/Sevens+Legal,+APC/@33.1125565,-117.0980729,17z/data=!3m1!4b1!4m5!3m4!1s0x80dbf48e93d388db:0x9d661379896854be!8m2!3d33.1125565!4d-117.0958842">GET DIRECTIONS</a></span>
            </div>
            <div class="col text-center d-flex justify-content-center align-items-center align-content-center">
                <div class="d-flex justify-content-between"><a href="https://www.facebook.com/Sevens-Legal-APC-Criminal-Defense-Attorneys-101771474548656/"><img src="/img/1fb.png" style="margin: 5px;"></a><a href="https://plus.google.com/112796563261833671998"><img src="/img/1google.png" style="margin: 5px;"></a><a href="https://twitter.com/sevenslegalsd"><img src="/img/1tw.png" style="margin: 5px;"></a><a href="https://www.yelp.com/biz/sevens-legal-apc-san-diego-8"><img src="/img/1yelp.png" style="margin: 5px;"></a><a href="https://www.avvo.com/attorneys/92103-ca-samantha-greene-297353.html"><img src="/img/1in.png" style="margin: 5px;"></a></div>
            </div>
            <div class="col text-start">
                <h2 class="text-start">ESCONDIDO</h2><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="/defense/">ESCONDIDO CRIMINAL DEFENSE ATTORNEY</a></span>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">500 LA TERRAZA BLVD.<br>SUITE 150,<br>ESCONDIDO, CA 92025<br>PHONE: (760) 973-4005</p><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="https://www.google.com/maps/place/Sevens+Legal,+APC/@33.1125565,-117.0980729,17z/data=!3m1!4b1!4m5!3m4!1s0x80dbf48e93d388db:0x9d661379896854be!8m2!3d33.1125565!4d-117.0958842">GET DIRECTIONS</a></span>
            </div>
        </div>
    </div>
</footer>

{{ partial "sub-footer" . }}