<style>
    .dis {
        position: relative;
    }

    /* .dis .text {
        position: absolute;
        display: flex;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: white;
        visibility: hidden;
        font-weight: bold;
    }

    .dis:hover .text {
        visibility: visible;
    } */
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .minicontainer:hover .overlay {
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<section class="photo-gallery py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>PRACTICE AREAS</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center align-items-center photos"
            data-bss-baguettebox="">

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">Criminal
                    Defense</span>
                <a href="/criminal/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1areas-of-defense.jpg.webp" width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">Criminal Defense</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego DUI Lawyer</span>
                <a href="https://sandiegoduilawyers.com/san-diego-dui-attorney/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DUIDWI-Defense-Lawyers.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego DUI Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego DUI Penalties</span>
                <a href="https://www.sevenslegal.com/san-diego-dui-penalties-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DUI-Penalties.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego DUI Penalties</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Blood Alcohol Level (BAC)</span>
                <a href="https://www.sevenslegal.com/san-diego-blood-alcohol-level-bac/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Blood-Alcohol-Level1.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Blood Alcohol Level (BAC)</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Field Sobriety Tests</span>
                <a href="https://www.sevenslegal.com/san-diego-field-sobriety-tests/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DUI-Tests.jpg.webp" width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Field Sobriety Tests</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego DMV Hearing Defense Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-dmv-defense-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DMV-Defense-1.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego DMV Hearing Defense Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Drug Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-drug-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Drug-Charges-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Drug Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Methamphetamine Lawyerr</span>
                <a href="https://www.sevenslegal.com/san-diego-methamphetamine-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Methamphetamine-Lawyers.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Methamphetamine Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Marijuana Lawyer
                </span>
                <a href="https://www.sevenslegal.com/san-diego-marijuana-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Marijuana-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Marijuana Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Theft Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-theft-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Theft-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Theft Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Burglary Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-burglary-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Burglar-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Burglary Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Assault and Battery Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-assault-battery-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Assault-Battery-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Assault and Battery Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Domestic Violence Lawyer
                </span>
                <a href="https://www.sevenslegal.com/san-diego-domestic-violence-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Domestic-Violence-Defense-Lawyers.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Domestic Violence Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Child Abuse Lawyer</span>
                <a href="reate new posts in hugo server">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Child-Abuse-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Child Abuse Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Child Endangerment Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-child-endangerment-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Child-Endangerment-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Child Endangerment Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Restraining Order Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-restraining-order-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Restraining-Order-Defense-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Restraining Order Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Property Crime Lawyer
                </span>
                <a href="https://www.sevenslegal.com/san-diego-property-crime-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Property-Crime-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Property Crime Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Vandalism Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-sex-crimes-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Vandalism-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Vandalism Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Sex Crimes Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-prostitution-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Sex-Crime-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Sex Crimes Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Prostitution Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-rape-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Prostitution-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Prostitution Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Rape Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-fraud-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Rape-Attorneys.jpg.webp" width="367"
                            height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Rape Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Fraud Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-juvenile-crime-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Fraud-Attorneys.jpg.webp" width="367"
                            height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Fraud Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Juvenile Crime Lawyer</span>
                <a href="sevenslegal.com/san-diego-federal-crimes-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Juvenile-Crime-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Juvenile Crime Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Federal Crimes Lawyer</span>
                <a
                    href="https://www.sevenslegal.com/wp-content/uploads/2018/01/1San-Diego-Federal-Crime-Attorneys.jpg.webp">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Federal-Crime-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="minicontainer">
                            <div class="overlay">
                                <div class="text">San Diego Federal Crimes Lawyer</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    </div>
</section>