<style>
    .dis {
        position: relative;
    }

    .dis .text {
        position: absolute;
        display: flex;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: white;
        visibility: hidden;
        font-weight: bold;
    }

    .dis:hover .text {
        visibility: visible;
    }

    .overlay1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay1 {
        opacity: 1;
    }

    .text1 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay2 {
        opacity: 1;
    }

    .text2 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay3 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay3 {
        opacity: 1;
    }

    .text3 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay4 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay4 {
        opacity: 1;
    }

    .text4 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay5 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay5 {
        opacity: 1;
    }

    .text5 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay6 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay6 {
        opacity: 1;
    }

    .text6 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay7 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay7 {
        opacity: 1;
    }

    .text7 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay8 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay8 {
        opacity: 1;
    }

    .text8 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay9 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay9 {
        opacity: 1;
    }

    .text9 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay10 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay10 {
        opacity: 1;
    }

    .text10 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay11 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay11 {
        opacity: 1;
    }

    .text11 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay12 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay12 {
        opacity: 1;
    }

    .text12 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay13 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay13 {
        opacity: 1;
    }

    .text13 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay14 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay14 {
        opacity: 1;
    }

    .text14 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay15 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay15 {
        opacity: 1;
    }

    .text15 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay16 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay16 {
        opacity: 1;
    }

    .text16 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay17 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay17 {
        opacity: 1;
    }

    .text17 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay18 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay18 {
        opacity: 1;
    }

    .text18 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay19 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay19 {
        opacity: 1;
    }

    .text19 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay20 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay20 {
        opacity: 1;
    }

    .text20 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay21 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay21 {
        opacity: 1;
    }

    .text21 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay22 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay22 {
        opacity: 1;
    }

    .text22 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay23 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay23 {
        opacity: 1;
    }

    .text23 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .overlay24 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }

    .container:hover .overlay24 {
        opacity: 1;
    }

    .text24 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

</style>

<section class="photo-gallery py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>PRACTICE AREAS</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center align-items-center photos"
            data-bss-baguettebox="">

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">Criminal
                    Defense</span>
                <a href="/criminal/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1areas-of-defense.jpg.webp" width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay1">
                            <div class="text1">Criminal Defense</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego DUI Lawyer</span>
                <a href="https://sandiegoduilawyers.com/san-diego-dui-attorney/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DUIDWI-Defense-Lawyers.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay2">
                            <div class="text2">San Diego DUI Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego DUI Penalties</span>
                <a href="https://www.sevenslegal.com/san-diego-dui-penalties-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DUI-Penalties.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay3">
                            <div class="text3">San Diego DUI Penalties</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Blood Alcohol Level (BAC)</span>
                <a href="https://www.sevenslegal.com/san-diego-blood-alcohol-level-bac/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Blood-Alcohol-Level1.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay4">
                            <div class="text4">San Diego Blood Alcohol Level (BAC)</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Field Sobriety Tests</span>
                <a href="https://www.sevenslegal.com/san-diego-field-sobriety-tests/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DUI-Tests.jpg.webp" width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay5">
                            <div class="text5">San Diego Field Sobriety Tests</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego DMV Hearing Defense Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-dmv-defense-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-DMV-Defense-1.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay6">
                            <div class="text6">San Diego DMV Hearing Defense Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Drug Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-drug-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Drug-Charges-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay7">
                            <div class="text7">San Diego Drug Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Methamphetamine Lawyerr</span>
                <a href="https://www.sevenslegal.com/san-diego-methamphetamine-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Methamphetamine-Lawyers.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay8">
                            <div class="text8">San Diego Methamphetamine Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Marijuana Lawyer
                </span>
                <a href="https://www.sevenslegal.com/san-diego-marijuana-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Marijuana-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay9">
                            <div class="text9">San Diego Marijuana Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Theft Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-theft-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Theft-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay10">
                            <div class="text10">San Diego Theft Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Burglary Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-burglary-lawyer/">
                    <div class="dis">
                        <img class="img-fluid" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Burglar-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay11">
                            <div class="text11">San Diego Burglary Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Assault and Battery Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-assault-battery-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Assault-Battery-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay12">
                            <div class="text12">San Diego Assault and Battery Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Domestic Violence Lawyer
                </span>
                <a href="https://www.sevenslegal.com/san-diego-domestic-violence-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Domestic-Violence-Defense-Lawyers.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay13">
                            <div class="text13">San Diego Domestic Violence Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Child Abuse Lawyer</span>
                <a href="reate new posts in hugo server">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Child-Abuse-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay14">
                            <div class="text14">San Diego Child Abuse Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Child Endangerment Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-child-endangerment-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Child-Endangerment-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay15">
                            <div class="text15">San Diego Child Endangerment Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Restraining Order Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-restraining-order-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse"
                            src="/img/1San-Diego-Restraining-Order-Defense-Attorneys.jpg.webp" width="367" height="103"
                            style="margin-top: 10px;">
                        <div class="overlay16">
                            <div class="text16">San Diego Restraining Order Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Property Crime Lawyer
                </span>
                <a href="https://www.sevenslegal.com/san-diego-property-crime-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Property-Crime-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay17">
                            <div class="text17">San Diego Property Crime Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Vandalism Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-sex-crimes-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Vandalism-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay18">
                            <div class="text18">San Diego Vandalism Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Sex Crimes Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-prostitution-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Sex-Crime-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay19">
                            <div class="text19">San Diego Sex Crimes Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Prostitution Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-rape-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Prostitution-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay20">
                            <div class="text20">San Diego Prostitution Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Rape Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-fraud-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Rape-Attorneys.jpg.webp" width="367"
                            height="103" style="margin-top: 10px;">
                        <div class="overlay21">
                            <div class="text21">San Diego Rape Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Fraud Lawyer</span>
                <a href="https://www.sevenslegal.com/san-diego-juvenile-crime-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Fraud-Attorneys.jpg.webp" width="367"
                            height="103" style="margin-top: 10px;">
                        <div class="overlay22">
                            <div class="text22">San Diego Fraud Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Juvenile Crime Lawyer</span>
                <a href="sevenslegal.com/san-diego-federal-crimes-lawyer/">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Juvenile-Crime-Lawyers.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay23">
                            <div class="text23">San Diego Juvenile Crime Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col item" style="height: 150px;"><span
                    style="padding-right: 5px;padding-bottom: 20px;padding-left: 5px;background: #303030;color: rgb(255,255,255);">San
                    Diego Federal Crimes Lawyer</span>
                <a
                    href="https://www.sevenslegal.com/wp-content/uploads/2018/01/1San-Diego-Federal-Crime-Attorneys.jpg.webp">
                    <div class="dis"><img class="img-fluid" data-bss-disabled-mobile="true"
                            data-bss-hover-animate="pulse" src="/img/1San-Diego-Federal-Crime-Attorneys.jpg.webp"
                            width="367" height="103" style="margin-top: 10px;">
                        <div class="overlay24">
                            <div class="text24">San Diego Federal Crimes Lawyer</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    </div>
</section>