<footer class="text-center py-4" style="background: #d8aa65;">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col text-start">
                <h2 class="text-start">SAN DIEGO CRIMINAL DEFENSE ATTORNEYS</h2>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">SEVENS LEGAL, APC<br>3555 FOURTH AVE,<br>SAN DIEGO, CA 92103<br>PHONE: (619) 430-2355</p><span class="text-start" style="color: #ae7a27;font-weight: bold;">GET DIRECTIONS</span>
            </div>
            <div class="col text-center d-flex justify-content-center align-items-center align-content-center">
                <div class="d-flex justify-content-between"><img src="/img/1fb.png" style="margin: 5px;"><img src="/img/1google.png" style="margin: 5px;"><img src="/img/1tw.png" style="margin: 5px;"><img src="/img/1yelp.png" style="margin: 5px;"><img src="/img/1in.png" style="margin: 5px;"></div>
            </div>
            <div class="col text-start">
                <h2 class="text-start">ESCONDIDO</h2><span class="text-start" style="color: #ae7a27;font-weight: bold;">ESCONDIDO CRIMINAL DEFENSE ATTORNEY</span>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">500 LA TERRAZA BLVD.<br>SUITE 150,<br>ESCONDIDO, CA 92025<br>PHONE: (760) 973-4005</p><span class="text-start" style="color: #ae7a27;font-weight: bold;">GET DIRECTIONS</span>
            </div>
        </div>
    </div>
</footer>

{{ partial "sub-footer" . }}